@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    width:100%;
    background-image: url("https://images.unsplash.com/photo-1573067485648-4cb2618b5e09?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1 0 auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.btn {
    margin: 5px;
}

.btn-large {
    margin: 5px;
}

.food-images {
    width:  300px;
    height: 300px;
    object-fit: cover;
}
