{% extends "base.html" %}
{% block content %}

<h3 class="white-text text-darken-4 center-align">Add your own recipe!</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
        <!--Recipe Category-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix text-darken-4"></i>
                <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose your recipe type</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>
            </div>
        </div>
        <!--Recipe Name-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix text-darken-4"></i>
                <textarea id="recipe_name" name="recipe_name" minlength="5" maxlength="30" 
                type="text" class="materialize-textarea validate" required></textarea>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <!--Description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pen prefix text-darken-4"></i>
                <input id="description" name="description" type="text" class="validate">
                <label for="description">Description</label>
            </div>
        </div>

        <!--Image url-->
            <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-camera prefix text-darken-4"></i>
                <input id="img_url" name="img_url" type="text" class="validate">
                <label for="img_url">Copy & paste an image url for your recipe here</label>
            </div>
        </div>

        <!-- Prep Time Input-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-clock prefix text-darken-4"></i>
                <input id="prep_time" name="prep_time" type="text" class="validate">
                <label for="prep_time">Preparation Time</label>
            </div>
        </div>

        <!--Cook Time Input-->

        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-temperature-high prefix text-darken-4"></i>
                <input id="cook_time" name="cook_time" type="text" class="validate">
                <label for="cook_time">Cooking Time</label>
            </div>
        </div>

        <!--Ingredients-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-utensils prefix text-darken-4"></i>
                <input id="ingredients" name="ingredients" type="text" class="validate">
                <label for="ingredients">Recipe Ingredients</label>
            </div>
        </div>

        <!--Recipe method-->

        <div class="row">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header prefix"><i class="fas fa-arrow-down prefix black-text text-darken-4"></i>Click to enter your how to steps!</div>
                <div class="collapsible-body"><span>

                <input id="method_1" name="method_1" type="text" class="validate" placeholder="1:" required>
                <label for="method_1">Enter step one: </label>

                <input id="method_2" name="method_2" type="text" class="validate" placeholder="2:">
                <label for="method_2">Enter step two: </label>

                <input id="method_3" name="method_3" type="text" class="validate" placeholder="3:">  
                <label for="method_3">Enter step three: </label>
                
                <input id="method_4" name="method_4" type="text" class="validate" placeholder="4:">
                <label for="method_4">Enter step four: </label>

                <input id="method_5" name="method_5" type="text" class="validate" placeholder="5:">
                <label for="method_5">Enter step five:</label>
            
            </span>
        </div>
            </li>
        </ul>
        </div>


        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large green darken-1 text-shadow">
                    Add Recipe <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}