{% extends "base.html" %}
{% block content %}

<h3 class="white-text text-darken-4 center-align">Manage Recipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_recipe') }}" class="btn-large white black-text darken-2">
            Add a recipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12 center-align">
        <h4 class="white-text"><em>Sort by:</em></h4>
    </div>
</div>

<ul class="pagination center-align">

    <li class="waves-effect white-text"><a href="{{ url_for('get_categories') }}">All</a></li>
    <li class="waves-effect white-text"><a href="{{ url_for('breakfast_categories') }}">Breakfast</a></li>
    <li class="waves-effect white-text"><a href="{{ url_for('lunch_categories') }}">Lunch</a></li>
    <li class="waves-effect white-text"><a href="{{ url_for('dinner_categories') }}">Dinner</a></li>
    <li class="waves-effect white-text"><a href="{{ url_for('beverage_categories') }}">Beverages</a></li>

</ul>

<div class="row card-panel transparent">
{% for recipe in recipes %}
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-image">
                <img class="activator food-images" src="{{ recipe.img_url }}" alt="food-images">
                <span class="card-title text-shadow">{{ recipe.category_name }}:
                    <br>
                    {{ recipe.recipe_name }}</span>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn green accent-4">Edit</a>
                <!-- Only allows session user to delete the recipes they have created themselves -->
                {% if session.user|lower == recipe.created_by|lower or session.user|lower == "admin" %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                    onclick="return confirm('Are you sure you want to delete this recipe?')"
                    class="btn light-blue lighten-1">Delete</a>
                {% endif %}

            </div>
        </div>
    </div>


{% endfor %}
</div>


{% endblock %}