{% extends "base.html" %}
{% block content %}


    <div class="row">
         <h2 class="center-align white-text text-shadow text-darken-4">Welcome !</h2>
        <div class="col s12 m8 offset-m2">
            <div class="card-panel transparent">
                <h3 class="center-align white-text text-shadow text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align white-text">
                New Here ? 
                <br>
                <a href="{{ url_for('register') }}" class="white-text text-darken"><i class="fas fa-user-plus"></i> Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}