{% extends "base.html" %}
{% block content %}

<h3 class="center-align white-text text-shadow text-darken-4">Welcome !</h3>

<section class="intro">
    <div class="inner">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel transparent">
                <h3 class="center-align white-text text-shadow text-darken-4">
                    You are logged in as: 
                    <br>
                    {{ username }}
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align white-text">
                All cooked out ? 
                <br>
                <a href="{{ url_for('logout') }}" class="white-text text-darken"><i class="fas fa-user-plus"></i> Log Out</a>
            </p>
        </div>
    </div>
</div>
</section>

{% endblock %}